.topic-async {
  background-color: aliceblue;
}
.post-comments-container {
  overflow-y: scroll;
  margin: 2px;
  height: 90%;

  .post {
    padding: 5px;
    margin-bottom: 5px;
    pointer-events: none;
    height: 50%;
  }
  .comment {
    margin: 0 5px;
    padding: 5px;
    border-bottom: 1px solid;
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
.posts-container {
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 5px;
  overflow-y: scroll;
  margin: 2px;
}
.post {
  padding: 5px;
  text-align: start;
  border: 1px solid;
  transition: all 0.5s;

  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.4rem;
  }
}
.page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
}
.page-button {
  width: 20px;
  font-size: 15px;
  text-align: center;
  background-color: white;
  margin: 2px;
  transition: all 0.8s;
  border: 1px solid;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
}
.page-button-active {
  color: white;
  background-color: black;
  transition: all 0.2s;
  &:hover {
    background-color: rgba(141, 119, 119, 0.295);
  }
}
.navigation-button {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}
/*Phones*/
@media (max-width: 767px) {
  .topic-async {
    max-height: 72%;
  }
  .page-button {
    width: 15px;
    font-size: 10px;
  }
  .posts-container {
    height: 75%;
  }
  .post {
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
@media (min-width: 768px) {
  .post {
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background-color: rgb(193, 206, 218);
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
@media (max-height: 700px) {
  .post {
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .posts-container {
    height: 80%;
  }
}
