.post-working-window {
  height: 95%;
  margin: 0px;
}
.posts-container {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  border: 2px solid;
}
.post {
  margin: 10px;
  padding: 5px;
  text-align: start;
  border: 1px solid;
  h1 {
    font-size: 1.1rem;
  }
  p {
    margin: 5px 0;
    font-size: 1rem;
  }
}
.page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.page-button {
  width: 20px;
  height: 20px;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  margin: 2px;
  transition: all 0.8s;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
}
.page-button-active {
  color: white;
  background-color: black;
  &:hover {
    background-color: rgba(141, 119, 119, 0.295);
  }
}
.navigation-button {
}
