.topic-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.grid-item {
  display: flex;

  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(119, 119, 119, 1) 100%);
  box-shadow: 5px 5px 5px rgb(0, 0, 0), -5px -5px 5px rgb(0, 0, 0);
  div {
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    pointer-events: none;
  }
}
.grid-item-over {
  border: dotted;
}
.grid-item-drag {
  background-color: rgb(0, 0, 0);

  color: white;
}
