/*Main style for both queries*/
.status-bar {
  position: fixed;
  top: 40vh;
  font-family: $fontFamily;
}
.status-list {
  li {
    margin-bottom: 30px;
    list-style: none;
  }
}
.status-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
}
.status-item-active {
  background-color: grey;
}
/*Tablets*/
@media (max-width: 767px) {
  .status-bar {
    right: 3%;
  }
  .status-bar-hide {
    display: none;
  }
  .status-item-circle {
    list-style: none;
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  .status-item-description {
    display: none;
  }
}
/*Laptops*/
@media (min-width: 768px) {
  .status-bar {
    right: 0;
    margin-right: 1vw;
    transition: all 0.5s;
    z-index: 10003;
  }
  .status-bar-hide {
    opacity: 0;
    visibility: hidden;
  }
  .status-link:hover {
    .status-item-description {
      z-index: 4;
      visibility: visible;
      opacity: 1;
      right: 30px;
    }
    .status-item-circle {
      background-color: grey;
    }
  }
  .status-item-circle {
    list-style: none;
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 15px;
  }
  .status-item-active {
    background-color: grey;
  }
  .status-item-description {
    position: absolute;
    right: 50px;
    width: 10vw;
    text-decoration: none;
    background-color: $main-color;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    visibility: hidden;
    opacity: 0.3;
    transition: all 0.2s;
  }
}
