/* main container which contain all of the topic info*/
.topic-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding-top: 84px;
  height: 70vh;
  margin-top: 40px;
  display: flex;
}

.topic-description {
  width: 50%;
  text-align: start;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0 auto;
  padding: 0 5px;

  h1 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-family: $fontFamily2;
  }
}
.topic-content {
  width: 50%;
  height: 100%;
  position: relative;
  box-shadow: 5px 5px 5px rgb(48, 46, 46), -5px -5px 5px rgb(48, 46, 46);
  background-color: grey;
}
/*This is part that must disapear when clicked button  */

.topic-content-facade {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/trianglify-lowres.png") no-repeat;
  background-size: cover;
  z-index: 2;
  .topic-button {
    font-size: 1.2rem;
    padding: 2px 5px;
    text-align: center;
    border-width: 1px;
    border-radius: 50px;
    &:hover {
      transition: background-color 1s, box-shadow 1s, border 1s, color 1s;
      background-color: rgb(129, 122, 122);
      box-shadow: 1px 1px 5px rgb(252, 250, 250);
      border: 1px solid white;
      color: white;
    }
  }
}
/* animation of removing element*/

.facade-removing {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}

/*Visible part of the topic/ Must be visible after clicking button*/
.topic-content-visible {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*Responce design*/
/*Tablets*/
@media (max-width: 767px) {
  .topic-container {
    flex-direction: column;
    padding: 40px 25px 25px;
    margin: 0 auto;
  }
  .topic-description {
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
  }
  .topic-content {
    width: 100%;
  }
}

/*Laptops*/
@media (min-width: 768px) {
  section:nth-child(odd) {
    flex-direction: row-reverse;
    .topic-description {
      text-align: end;
      margin-left: 5px;
    }
  }
}
