.up-button {
  position: fixed;
  top: 90%;
  left: 95%;
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  user-select: none;
  transition: all 0.5s;
  a {
    margin: 0 auto;
    color: black;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
}
.up-button-hide {
  opacity: 0;
  visibility: hidden;
}
